
# Build Artifacts
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
compile_commands.json

# Caches
.emscripten_cache/
.DS_Store
.idea/

# Unix/Linux
*_prefix/
convertMicroServices.js
convertMicroServices.wasm

# CMake
CMakeFiles/
cmake-build-debug/